<HEAD>
<SCRIPT language="JavaScript">
<!--

var password;
var pass1="zahra";

password=prompt('Please enter your password to view this page!',' ');

if (password != pass1) {
  window.location="http://www.antambush.com";
}

//-->
</SCRIPT>
</HEAD>

<h1>AdminConsole</h1>

<%= link_to "Users", users_path %>
<BR />
<%= link_to "Attacks", attacks_path %>
<BR />
<%= link_to "UserAttacks", user_attacks_path %>